@charset "utf-8";

body {
	width: 960px;
	margin: auto;
	background: #f8f8f8;
	font-family: Verdana, Geneva, sans-serif;
}
form {
	top: -256px;
	left: 320px;
	width: 640px;
	position: relative;
}
form section {
	color: #fff;
	background: #fff;
	border: 1px ridge #ddd;
	border-radius: 8px;
	font-size: 20px;
}
form section label {
	padding: 8px 20px;
}
form section select {
	color: #444;
	width: 240px;
	float: right;
	margin: -2px;
	font: 20px Verdana, Geneva, sans-serif;
}
form section input[type="checkbox"] { display: none; }
form section .detail {
	color: #444;
	padding: 10px 20px;
	display: inline-block;
	font-weight: bold;
	text-shadow: 1px 1px 5px #ccc;
}
form section .action {
	color: #363;
	width: 90%;
	margin: 10px auto;
	display: block;
	background: #bdb;
	border-radius: 8px;
}
form section .action label {
	width: 96px;
	margin: 5px auto;
	display: inline-block;
	cursor: pointer;
	border: 1px ridge #798;
	border-radius: 8px;
	text-align: center;
}
form section .action label:hover {
	color: #fff;
	background: #8c8;
}
form section .action .active {
	color: #fff;
	background: #c66;
}
form section .action .passive {
	color: #444;
	background: #fff;
}
form section .phraud {
	float: right;
	cursor: pointer;
	border-radius: 0 8px;
}
form section .phraudOn {
	background: #c66;
}
form section .phraudOff {
	background: #69c;
}
form section .phraud:hover {
	color: #c30;
	background: #fe6;
}
form section .phraud:active {
	color: #ccc;
}
