@charset "utf-8";

privacy {
	width: 256px;
	height: 256px;
	display: block;
	border: 1px ridge;
	position: relative;
}

privacy > * {
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
}

privacy > * > * {
	position: absolute;
	background-image: url(privacy.png);
}

privacy #provision_main {
	width: 100%; height: 100%;
	background-position: 0 512px;
}
privacy #perversion_00 {
	top: 0; left: 0;
	width: 120px; height: 120px;
	background-position: 0 0;
}
privacy #perversion_4 {
	top: 0; left: 120px;
	width: 16px; height: 120px;
	background-position: 136px 0;
}
privacy #perversion_01 {
	top: 0; left: 136px;
	width: 120px; height: 120px;
	background-position: 120px 0;
}
privacy #perversion_2 {
	top: 120px; left: 0;
	width: 128px; height: 16px;
	background-position: 0 904px;
}
privacy #perversion_1 {
	top: 120px; left: 128px;
	width: 128px; height: 16px;
	background-position: 128px 904px;
}
privacy #perversion_10 {
	top: 136px; left: 0;
	width: 120px; height: 120px;
	background-position: 0 888px;
}
privacy #perversion_8 {
	top: 136px; left: 120px;
	width: 16px; height: 120px;
	background-position: 136px 888px;
}
privacy #perversion_11 {
	top: 136px; left: 136px;
	width: 120px; height: 120px;
	background-position: 120px 888px;
}
privacy #persistence > * {
	width: 128px; height: 128px;
}
privacy #persistence_0 {
	top: 0; left: 0;
	background-position: 0 768px;
}
privacy #persistence_12 {
	top: 0; left: 128px;
	background-position: 128px 768px;
}
privacy #persistence_1 {
	top: 128px; left: 0;
	background-position: 0 640px;
}
privacy #persistence_3 {
	top: 128px; left: 128px;
	background-position: 128px 640px;
}
